.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
logs/
*.ini
migrations/README
migrations/script.py.mako
logs/microblog.log.1
__pycache__/
Other Stuff/